
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  .columnJ {
    float: left;
  }
  
  .leftJ {
    width: 25%;
  }

  .rightJ {
      width: 75%;
  }

  .rowJ {
    display: flex;
  }